body {
    margin: 0;

}

#div_1, #div_2 {
    border-color: green;
    border-width: 30px 15px 5px 1px;
    border-style: solid;
    border-radius: 25px;
    padding: 50px 25px 10px 5px;
    margin: 40px 30px 20px 10px;
    box-sizing: border-box;
    width: 400px;
    outline: 10px dotted red;
    outline-offset: 20px;

}
